/*
  ==========
  CSS Form 2
  ==========
*/

:root {
  --auto-grid-min-size: 24rem;
}

fieldset {
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
  grid-gap: 1rem;
  margin: 0;
  padding: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input:focus {
  outline: none;
}

input[type="date"] {
  color: var(--text-color-light);
  width: 150px;
  padding-left: 10px;
}

input-start {
  padding-left: 5px;
  color: var(--text-color-light);
  align-items: center;
  font-size: 0.7em;
  align-self: center;
  width: 25px;
  padding-right: 25px;
}

input-start + input {
  padding-left: 25px;
}

input {
  color: inherit;
  background-color: inherit;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding-left: 5px;
  &:not[type="date"] {
    border-color: red;
  }
}

/* Need to shuffle this element to the end and reduce the width */
input-end {
  color: var(--text-color-light);
  text-align: right;
  align-items: center;
  font-size: 0.7em;
  width: 25px;
  padding-right: 5px;
  justify-self: end;
  align-self: center;
}

field {
  display: grid;
}

input-start {
  grid-column: 1;
  grid-row: 2;
} 

input {
  grid-column: 1;
  grid-row: 2;
}

input-end {
  grid-column: 1;
  grid-row: 2;
}

button {
  width: 150px;
}

input, button {
  border-radius: var(--radius);
  color: inherit;
  background-color: inherit;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px;
  border-color: var(--border-color);
  
  &[type='submit']:hover,
  button:hover {
    cursor: pointer;
  }

}
