/* Type scale  */


/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1500,20,1.333,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7038rem, 0.7474rem + -0.0466vw, 0.7381rem);
  --step--1: clamp(0.8856rem, 0.8716rem + 0.0703vw, 0.9375rem);
  --step-0: clamp(1.0625rem, 1.0117rem + 0.2542vw, 1.25rem);
  --step-1: clamp(1.275rem, 1.1689rem + 0.5305vw, 1.6663rem);
  --step-2: clamp(1.53rem, 1.3425rem + 0.9373vw, 2.2213rem);
  --step-3: clamp(1.8363rem, 1.5313rem + 1.5246vw, 2.9606rem);
  --step-4: clamp(2.2031rem, 1.7302rem + 2.3644vw, 3.9469rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,17,1.2,1500,20,1.333,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.2331rem + 0.0847vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5456rem + 0.0847vw, 0.625rem);
  --space-xs: clamp(0.8125rem, 0.7786rem + 0.1695vw, 0.9375rem);
  --space-s: clamp(1.0625rem, 1.0117rem + 0.2542vw, 1.25rem);
  --space-m: clamp(1.625rem, 1.5572rem + 0.339vw, 1.875rem);
  --space-l: clamp(2.125rem, 2.0233rem + 0.5085vw, 2.5rem);
  --space-xl: clamp(3.1875rem, 3.035rem + 0.7627vw, 3.75rem);
  --space-2xl: clamp(4.25rem, 4.0466rem + 1.0169vw, 5rem);
  --space-3xl: clamp(6.375rem, 6.0699rem + 1.5254vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1483rem + 0.5085vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4608rem + 0.5085vw, 0.9375rem);
  --space-xs-s: clamp(0.8125rem, 0.6939rem + 0.5932vw, 1.25rem);
  --space-s-m: clamp(1.0625rem, 0.8422rem + 1.1017vw, 1.875rem);
  --space-m-l: clamp(1.625rem, 1.3877rem + 1.1864vw, 2.5rem);
  --space-l-xl: clamp(2.125rem, 1.6843rem + 2.2034vw, 3.75rem);
  --space-xl-2xl: clamp(3.1875rem, 2.696rem + 2.4576vw, 5rem);
  --space-2xl-3xl: clamp(4.25rem, 3.3686rem + 4.4068vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.0625rem, 0.6727rem + 1.9492vw, 2.5rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}
